<form action="/bitcoins"> <!-- you don't need any text if it points to itself, but this can be any URL, and the button will point there -->
  <label for="amount">How many bitcoin do you have?</label>
  <input type="text" id="amount" name="amount" value="<%= @bitcoin %>">
    <!-- 'id' connects to the label; 'name' puts it in the query string; 'value' keeps the number in the form-->
  <button>Submit</button>
  <a href="/bitcoins">Cancel</a>
</form>

<p>You have <%= @bitcoin %> Bitcoin.</p>
<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoin is worth $<%= @usd_value %>.</p>